
<div class="container">

    <div class="col col-sm-4 col-md-6 col-lg-12">
        <h2>Application For Individual Applicant</h2>
        <p style="color: red;">All fields are required fields*</p>
    </div>
    <br>


    <form #f="ngForm" (ngSubmit)="onSend(f)">
        <!-- {{f.value | json}} -->

    <div class="row">
        <div class="col-lg-9 form-group">
            <label>Name Of The Company</label>
            <input class="form-control" ngModel name="name" #company="ngModel" type="text" placeholder="Enter the name of the company" required>
            <div class="alert alert-danger" *ngIf="company.touched && company.invalid">**Please enter company name</div>
            <br>
            <label>Postal Address Of The Company</label>
            <input class="form-control" ngModel name="address" #address="ngModel" type="text" placeholder="Enter the address of the company" required>
            <div class="alert alert-danger" *ngIf="address.touched && address.invalid">**Please enter company address</div>
        </div>
        <br>
        <div class="col-lg-3 form-group square">
            <label class="textinfo">Photo</label>
            <!-- <img src="paris.jpg" class="float-right" alt="Paris" width="304" height="236"> -->
        </div>
    </div>


    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Date Of Establishment</label>
            <input ngModel name="establishmentdate" class="form-control" type="date" placeholder="Pick date">
        </div>
        <div class="col-sm-3 form-group">
            <label for="state">State - राज्य निवडा</label>
            <!-- <input ngModel #sts="ngModel" name="state" id="state" class="form-control" placeholder="Enter your state name" required> -->
            <select ngModel name="state" id="state" class="form-control" required>
                    <option *ngFor="let states of state" [ngValue]="states">{{states}}</option>
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label for="district">District - जिल्हा निवडा</label>
            <input class="form-control" ngModel type="text" id="dist" name="district" placeholder="Enter your district name">
            <!-- <select ngModel name="district" id="dist" class="form-control" required>
                    <option *ngFor="let districts of district" [ngValue]="districts">{{districts}}</option>
            </select> -->
        </div>
        <div class="col-sm-3 form-group">
            <label>Village/City - गाव/शहर</label>
            <input class="form-control" ngModel name="city" type="text" placeholder="Please enter your village/city">
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 form-group">
            <label>Company Website</label>
            <input class="form-control" ngModel name="website" id="web" type="text" placeholder="Enter your website">
        </div>
        <div class="col-md-3 form-group">
            <label for="cat">Category</label>
            <!-- <input ngModel #category="ngModel" name="cat" id="cat" class="form-control" placeholder="Enter category" required> -->
            <select ngModel name="category" id="cat" class="form-control" required>
                    <option *ngFor="let categories of category" [ngValue]="categories">{{categories}}</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <label>Brief Introduction To Company</label>
        <textarea class="form-control" ngModel name="information" placeholder="Enter the brief introduction to company" cols="30" rows="3" required></textarea>
    </div>


    <label>Company Point Of Contact Details</label>
    <div class="row">   
        <div class="col-sm-4 form-group">
            <input ngModel name="cfullName" class="form-control" type="text" placeholder="Full name">
        </div>
        <div class="col-sm-4 form-group">
            <input ngModel name="ccontact" #ccon="ngModel" id="ccon" class="form-control" type="tel" 
                   [pattern]="MOBILE_PATTERN" placeholder="Contact number" required>
            <div class="alert alert-danger" *ngIf="ccon.touched && ccon.invalid">Please enter mobile number
                <div *ngIf="ccon.errors?.pattern">Please enter correct mobile number</div>
            </div>
        </div>
        <div class="col-sm-4 form-group">
            <input ngModel name="cgmail" #email="ngModel" class="form-control" id="myemail" type="email" placeholder="example@gmail.com"
                   [pattern]="EMAIL_PATTERN" required>
            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Please enter email id
                <div *ngIf="email.errors?.pattern">Please enter appropriate email id</div>
            </div>
        </div>
    </div>


    <label>Company HR Details</label>
    <div class="row">   
        <div class="col-sm-4 form-group">
            <input ngModel name="hrfullName" class="form-control" type="text" placeholder="Full name">
        </div>
        <div class="col-sm-4 form-group">
            <input ngModel name="hrcontact" #cco="ngModel" id="cco" class="form-control" type="tel" 
                   [pattern]="MOBILE_PATTERN" placeholder="Contact number" required>
            <div class="alert alert-danger" *ngIf="cco.touched && cco.invalid">Please enter mobile number
                <div *ngIf="cco.errors?.pattern">Please enter correct mobile number</div>
            </div>
        </div>
        <div class="col-sm-4 form-group">
            <input ngModel name="hrgmail" #myemail="ngModel" class="form-control" id="email" type="email" placeholder="example@gmail.com"
               [pattern]="EMAIL_PATTERN" required>
            <div class="alert alert-danger" *ngIf="myemail.touched && myemail.invalid">Please enter email id
               <div *ngIf="myemail.errors?.pattern">Please enter appropriate email id</div>
            </div>
        </div>
    </div>


    <div class="btngroup">
        <button id="bt" type="button" class="btn btn-outline-primary" (click)="resetForm(f)">Reset</button>        
        <button id="bt" [disabled]="!f.valid" class="btn btn-outline-primary">Submit</button>
    </div><br>
    
    </form>
    

</div>

